<%- include('../partials/header.ejs'); %>

<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<h1> <%= recipe.title %></h1>
<h4> <%= recipe.prepTime %></h4>
<ul>
    <li>
      <%= ingredients %>
    </li>
</ul>

<!-- <form action="/recipes/<%= recipe._id%>" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="" name="title" placeholder="<%= recipe.title %>" aria-describedby="titleHelp">
      <small id="emailHelp" class="form-text text-muted">Small Caption under the Input Bar.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Preparation Time</label>
      <input type="text" class="form-control" id="" name="prepTime" placeholder="<%= recipe.prepTime %>">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Select Ingredients</label>
        <select multiple class="form-control" id="exampleFormControlSelect2" name="ingredients">
          <option name="ingredientId">Onion</option>
          <option name="ingredientId">Carrot</option>
          <option name="ingredientId">3</option>
          <option name="ingredientId">4</option>
          <option name="ingredientId">5</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form> -->
        
<form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
    <label>Recipe Name:
        <input type="text" name="title" value="<%= recipe.title%>">
    </label>
    <label>Preparation Time:
        <input type="text" name="prepTime" value="<%= recipe.prepTime%>">
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <%- include('../partials/footer.ejs'); %>