<%- include('../partials/header.ejs'); %>


<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<% if (user) { %>
  <h1>Welcome <%= user.name %>, Browse these Recipes!</h1>
<% } else { %>
  <h1>Please Login!</h1>
<% } %>


<a href="/recipes/new" class="btn btn-primary float-lg-right" role="button" aria-pressed="true" style="margin-right: 30px;">Add a New Recipe</a>


<div id="container">
  
  
    <div class="card-columns row align-items-center">
        <% recipes.forEach(recipe => { %>
        <div class="col-mb-1 col-lg-4" style="padding-bottom: 85px;">
            
            <div class="card text-center foodcard" style="border-radius: 35px 35px 0 0;">
              <img class="card-img-top" src="<%=recipe.imgURL%>" alt="Image Placeholder" style="border: 2px solid black; border-radius: 35px 35px 0 0; width: 100%; height: 100%;">
              <div class="card-body" style="background-color: lightgray; border: 2px solid black;">
                <h5 class="card-title"><%= recipe.title %></h5>
                <p class="card-text">Recipe Description Placeholder</p>
              </div>
              <div class="card-footer" style="border: 2px solid black; border-radius: 0 0 35px 35px;">
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
                <br>
                <a href="/recipes/<%= recipe._id%>" class="btn btn-primary">View this Recipe</a>
              </div>
            </div>
            
          </div>
          <% }); %>
      </div>


  </div>

<%- include('../partials/footer.ejs'); %>