<%- include('../partials/header.ejs'); %>


<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<% if (user) { %>
  <h1>Welcome <%= user.name %>, Browse these Recipes!</h1>
<% } else { %>
  <h1>Please Login!</h1>
<% } %>


<!-- <form class="col-lg-6" action="/recipes" method="GET">     
  <input type="search" class="form-control text-center" name="title" placeholder="search recipe" autocomplete="off">   
</form> -->

<a href="/recipes/new" class="btn btn-primary float-lg-right" role="button" aria-pressed="true" style="margin-right: 30px;">Add a New Recipe</a>


<div id="container" style="margin-top: 80px;">
    <div class="card-columns row align-items-center">
        <% recipes.forEach(recipe => { %>
        <div class="col-mb-1 col-lg-4" style="padding-bottom: 65px;">
            
            <div class="card text-center foodcard bpad" style="border-radius: 35px 35px 0 0;">
              <% if (recipe.imgURL.length == 0) recipe.imgURL = "https://cdn.dribbble.com/users/1012566/screenshots/4187820/topic-2.jpg"%>
              <img class="card-img-top" src="<%=recipe.imgURL%>" alt="Image Placeholder" style="box-shadow: 5px 5px black; border-radius: 35px 35px 0 0; width: 100%; height: 100%;">
              <div class="card-body text-white" style="background-color: black; box-shadow: 5px 5px black;">
                <h5 class="card-title"><%= recipe.title %></h5>
                <p class="card-text"><%=recipe.description%></p>
              </div>
              <div class="card-footer" style="box-shadow: 5px 5px black; border-radius: 0 0 35px 35px;">
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
                <br>
                <a href="/recipes/<%= recipe._id%>" class="btn btn-primary">View this Recipe</a>
              </div>
            </div>
            
        </div>
        <% }); %>
    </div>
</div>


<%- include('../partials/footer.ejs'); %>