<%- include('../partials/header.ejs'); %>


<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<% if (user) { %>
  <h1>Welcome <%= user.name %>, Browse these Recipes!</h1>
<% } else { %>
  <h1>Please Login!</h1>
<% } %>


<a href="/recipes/new" class="btn btn-primary float-lg-right" role="button" aria-pressed="true" style="margin-right: 30px;">Add a New Recipe</a>


<div id="container">
  
  
  <div class="row align-items-center">
    <% recipes.forEach(recipe => { %>
    <div class="col-mb-3 col-lg-4">
        
        <div class="card m-auto text-center">
          <img class="card-img-top" src="https://cdn.dribbble.com/users/1012566/screenshots/4187820/topic-2.jpg" alt="Image Placeholder" style="background-color: gray;">
          <div class="card-body mt-auto" style="background-color: lightgray;">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text">Recipe Description Placeholder</p>
            <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
            <br>
            <a href="/recipes/<%= recipe._id%>" class="btn btn-primary">View this Recipe</a>
            
          </div>
        </div>
      </div>
      <% }); %>
      
    </div>
    
  </div>

<%- include('../partials/footer.ejs'); %>