<%- include('../partials/header.ejs'); %>

<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<h1> <%= recipe.title %></h1>
<h4> <%= recipe.prepTime %></h4>
<ul>
    <li>
      <%= ingredients %>
    </li>
</ul>

<a href="/recipes/<%=recipe._id%>/edit" class="btn btn-primary" role="button" aria-pressed="true">Edit Recipe</a>

        
    <%- include('../partials/footer.ejs'); %>