<%- include('../partials/header.ejs'); %>


<div class="jumbotron w-75 mx-auto text-center" style="background-color: white;">
    <h1 class="display-4"><%= recipe.title %></h1>
        <img src="<%=recipe.imgURL%>" style="width: 65%; height: 35%; background-color: rgb(238, 238, 238); border-radius: 25px; margin-bottom: 20px;">
        <p class="lead"><%= recipe.description %></p>
        <p>Preparation Time: <%= recipe.prepTime %> Minutes</p>



<div class="fridge container h-100 p-5" style="height: 100%;background-color: white; border-radius: 25px;">
    
    <div class="row text-center">
            <% recipe.reqIngredients.forEach(i => { %>
              <% if (user.fridge.includes(i.id)) { %>
        <div class="col-6 col-md-2 transclass" style="background-color: white; color: #4967c0; border-radius: 25px; margin: 3px auto; height: 8rem !important;">
            <img class="ingredient-avatar " src="<%=i.thumbnail%>">
          <h4><%= i.name %></h4>
          
          <% } else { %>
            <div class="col-6 col-md-2 transclass" style="background-color: white;border-radius: 25px; color: #b81d1d; margin: 3px auto; height: 8rem !important;">
                <img class="ingredient-avatar " src="<%=i.thumbnail%>">
                <h4><%= i.name %></h4>
            <% } %>
        </div>

      <% }); %>
    </div>
    
</div>


        <h3 class="display-6 mt-2">Instructions:</h3>
            <p><%=recipe.instructions%></p>
        <p class="lead">
                <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-primary" role="button" aria-pressed="true">Edit Recipe</a>
            </p>
</div>





        
<%- include('../partials/footer.ejs'); %>