<%- include('../partials/header.ejs'); %>

<div class="jumbotron text-center">
        <img src="<%=recipe.imgURL%>">
        <h1 class="display-4"><%= recipe.title %></h1>
        <p class="lead"><%= recipe.description %></p>
        <p>Preparation Time: <%= recipe.prepTime %> Minutes</p>

        <hr class="my-3">

        <% recipe.reqIngredients.forEach(i => { %>
        <div class="flex-row text-center">
            <p class="text-center"><%= i.name %></p>
        </div>
        <% }); %>
        <hr class="my-auto">

        <h3 class="display-6 mt-2">Instructions:</h3>
            <p><%=recipe.instructions%></p>
        <p class="lead">
                <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-primary" role="button" aria-pressed="true">Edit Recipe</a>
            </p>
</div>





        
<%- include('../partials/footer.ejs'); %>