<%- include('../partials/header.ejs'); %>




<form action="/chefs/<%=chef._id%>/fridge/add?_method=PUT" method="POST" style="border: 2px solid black; height: 100%;">

<div class="form-group" style="height: 25rem;">
    <label>Select Ingredients to Add to your Fridge!</label>

        <select multiple class="form-control h-100" id="exampleFormControlSelect2" name="ingredients">  
        <% ingredient.forEach(i => { %>
            <option value="<%=i._id%>"><%=i.name%>
            </option><img class="ingredient-avatar " src="<%=i.thumbnail%>">
        <% }) %>    
        </select>
</div>

<button type="submit" class="btn btn-primary">Submit</button>


</form>




<%- include('../partials/footer.ejs'); %>