<%- include('../partials/header.ejs'); %>

<h1>FRIDGE PAGE TEST</h1>


<h3><%=chef.name%>'s Ingredients:</h3>
<br><br>

<ul>
    <% chef.fridge.forEach(i => { %>
        <ul>
            <li>
                <%= i.name %>
            </li>
        </ul>
    <% }); %>
</ul>

<a href="/chefs/<%=chef._id%>/fridge/edit">Edit fridge</a>


<%- include('../partials/footer.ejs'); %>