<%- include('../partials/header.ejs'); %>

<h1>FRIDGE PAGE TEST</h1>


<h3><%=chef.name%>'s Ingredients:</h3>
<br><br>

<ul>

        <h4> <%=ingredients.length%> </h4>
        <h4> <%=chef.fridge.length%> </h4>


</ul>



<%- include('../partials/footer.ejs'); %>